<mat-dialog-content class="dialog-content">
    <mat-card class="formCard">
        <div class="elementsformCard">
            <div class="containerRegisterTitle">
                <h1>Registrar Local</h1>
            </div>
            <form [formGroup]="form" class="registerForm" (ngSubmit)="onSubmit()">
                <div class="inputsRegister">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Ingresar nombre" type="text" formControlName="name">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('name')?.errors && (form.get('name')?.dirty || form.get('name')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('required')">
                                El campo nombre es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('minlength')">
                                El campo nombre debe contener al menos un caracter
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('maxlength')">
                                El campo nombre debe contener máximo 100 caracteres
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Direccion</mat-label>
                            <input matInput placeholder="Ingresar direccion" type="text" formControlName="address">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('address')?.errors && (form.get('address')?.dirty || form.get('address')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('required')">
                                El campo direccion es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('maxlength')">
                                El campo nombre debe contener máximo 100 caracteres
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ciudad</mat-label>
                            <mat-select formControlName="cityCode">
                                <mat-option *ngFor="let city of cities" [value]="city.id">
                                    {{city.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('cityCode')?.errors && (form.get('cityCode')?.dirty || form.get('cityCode')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('cityCode')?.hasError('required')">
                                El campo ciudad es requerido
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="buttonsRegister">
                    <button *ngIf="!spinner" class="btn" mat-stroked-button type="submit"
                        [disabled]="!form.valid">Registrar</button>

                    <button *ngIf="spinner" class="btn" mat-stroked-button>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="sr-only"> Registrando...</span>
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
</mat-dialog-content>