<div class="container">
    <div>
        <button type="button" color="primary" class="btn btn-info space-button" (click)="openDialogFrom()">Registrar Local</button>
    </div> 
    <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8  col-md-10 m-auto">
        <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <!-- name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <!-- address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
        </ng-container>

        <!-- cityName Column -->
        <ng-container matColumnDef="cityName">
            <th mat-header-cell class="td-city" *matHeaderCellDef> Ciudad </th>
            <td mat-cell class="th-city" *matCellDef="let element"> {{element.cityName}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element" class ="mat-actions">
                <button mat-mini-fab (click)="deleteLocal(element)" color="warn" aria-label="Example icon button with a delete icon">
                    <mat-icon >delete</mat-icon>
                </button>
                <button mat-mini-fab (click)="openDialog(element)" color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>