table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}
.mat-actions{
    display: flex;
}
.space-button{
    margin-top: 20px;
    margin-left: 10px;
}