table {
  width: 100%;
  padding: 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width:5%;
}
.td-city{
  padding-left: 50px;
}
.th-city{
  padding-left: 50px;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.mat-actions{
  display: flex;
}
.mat-form-field{
  font-size: 1rem;
  width: 98%;
  margin: 0 auto;
  display: block;
}
.space-button{
  margin-top: 20px;
  margin-left: 10px;
}

.actionsButtons{
  display: flex;
}