<div class="container">

  <div>
    <button type="button" color="primary" class="btn btn-info space-button" (click)="openDialogFormCustomer()">Registrar
      Cliente</button>
  </div>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nombre" #input>
  </mat-form-field>

  <div class="mat-elevation-z8  col-md-10 m-auto">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-md-8 m-auto">

      <!-- Doc Column -->
      <ng-container matColumnDef="document" sortActionDescription="Sort by document">
        <th mat-header-cell *matHeaderCellDef>Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.document}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- phone number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Numero tel. </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <!-- address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <!-- cityName Column -->
      <ng-container matColumnDef="cityName">
        <th mat-header-cell class="td-city" *matHeaderCellDef> Ciudad </th>
        <td mat-cell class="th-city" *matCellDef="let element"> {{element.cityName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center th-city"> Actions </th>
        <td mat-cell *matCellDef="let element" class="mat-actions td-city">

          <button *ngIf="['1'].includes(currentRole)" mat-mini-fab color="warn"
            aria-label="Example icon button with a delete icon" (click)="onDeleteCustomer(element)">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
            (click)="onEditCustomer(element)">
            <mat-icon>edit</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>