<mat-dialog-content class="dialog-content">
    <mat-card class="formCard">
        <div class="elementsformCard">
            <h1>Editar Cliente</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="forms-repeat">
                <div class="inputsRegister">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Documento</mat-label>
                            <input matInput type="number" formControlName="document">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('document')?.errors && (form.get('document')?.dirty || form.get('document')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('document')?.hasError('required')">
                                El campo documento es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('document')?.hasError('min')">
                                El campo documento debe contener mínimo 8 caracteres
                            </div>
                            <div class="container-error-message" *ngIf="form.get('document')?.hasError('max')">
                                El campo documento debe contener máximo 10 caracteres
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre completo</mat-label>
                            <input matInput placeholder="Ingresar nombre completo" type="text" formControlName="name">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('name')?.errors && (form.get('name')?.dirty || form.get('name')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('required')">
                                El campo nombre es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('minlength')">
                                El campo nombre debe contener al menos un caracter
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('maxlength')">
                                El campo nombre debe contener máximo 100 caracteres
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Ingresar email" type="email" formControlName="email">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('email')?.errors && (form.get('email')?.dirty || form.get('email')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('email')?.hasError('required')">
                                El campo email es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('email')?.hasError('email')">
                                El campo debe ser de tipo email (Ej:nombre@gmail.com)
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Número de telefono</mat-label>
                            <input matInput placeholder="Ingresar Número de telefono" type="number"
                                formControlName="phoneNumber">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('phoneNumber')?.errors && (form.get('phoneNumber')?.dirty || form.get('phoneNumber')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('phoneNumber')?.hasError('required')">
                                El campo numero tel es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('phoneNumber')?.hasError('min')">
                                El campo numero tel debe contener mínimo 10 caracteres
                            </div>
                            <div class="container-error-message" *ngIf="form.get('phoneNumber')?.hasError('max')">
                                El campo numero tel debe contener máximo 10 caracteres
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Dirección</mat-label>
                            <input matInput placeholder="Ingresar dirección" type="text" formControlName="address">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('address')?.errors && (form.get('address')?.dirty || form.get('address')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('required')">
                                El campo Dirección es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('minlength')">
                                El campo Dirección debe contener al menos un caracter
                            </div>
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('maxlength')">
                                El campo Dirección debe contener máximo 100 caracteres
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ciudad</mat-label>
                            <mat-select formControlName="cityCode">
                                <mat-option *ngFor="let city of cities" [value]="city.id">
                                    {{city.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('cityCode')?.errors && (form.get('cityCode')?.dirty || form.get('cityCode')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('cityCode')?.hasError('required')">
                                El campo ciudad es requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="buttonsModify">
                        <div class="buttonModify">
                            <button *ngIf="!spinner" type="submit" class="btn" mat-stroked-button color="primary"
                                [disabled]="!form.valid">Modificar</button>
                            <button *ngIf="spinner" class="btn" mat-stroked-button>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only"> Modificando...</span>
                            </button>
                        </div>
                        <div class="buttonCancel">
                            <button class="btn" type="button" mat-stroked-button
                                (click)=cancelModify()>Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</mat-dialog-content>