<div class="container">

  <div *ngIf="['1', '3'].includes(currentRole)">
    <button type="button" color="primary" class="btn btn-info space-button" (click)="openDialogFormProduct()">Registrar
      Producto</button>
  </div>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nombre" #input>
  </mat-form-field>
  <div class="mat-elevation-z8  col-md-10 m-auto">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-md-8 m-auto">

      <!-- Doc Column -->
      <ng-container matColumnDef="code" sortActionDescription="Sort by document">
        <th mat-header-cell *matHeaderCellDef>Código </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- phone number Column -->
      <ng-container matColumnDef="iva">
        <th mat-header-cell *matHeaderCellDef> IVA </th>
        <td mat-cell *matCellDef="let element"> {{element.iva}} </td>
      </ng-container>

      <!-- address Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center th-city"> Actions </th>
        <td mat-cell *matCellDef="let element" class="mat-actions td-city">

          <div class="actionsButtons" *ngIf="['1', '3'].includes(currentRole)">
            <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon"
              (click)="onDeleteProduct(element)">
              <mat-icon>delete</mat-icon>
            </button>

            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
              (click)="onEditProduct(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>