<mat-dialog-content class="dialog-content">
    <mat-card class="formCard">
        <div class="elementsformCard">
                <h1>Editar Venta</h1>
            <form [formGroup]="form" class="registerForm" (ngSubmit)="onSubmit()">
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>iva</mat-label>
                        <input matInput placeholder="Ingresar iva" type="number"
                            formControlName="iva">
                    </mat-form-field>
                    <div class="alert-danger"
                        *ngIf="form.get('iva')?.errors && (form.get('iva')?.dirty || form.get('iva')?.touched)">
                        <div class="container-error-message" *ngIf="form.get('iva')?.hasError('required')">
                            El campo iva es requerido
                        </div>
                    </div>
                </div>

                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Metodo De pago</mat-label>
                        <input matInput placeholder="Ingresar dirección" type="text" formControlName="methodPayment">
                    </mat-form-field>
                    <div class="alert-danger"
                        *ngIf="form.get('methodPayment')?.errors && (form.get('methodPayment')?.dirty || form.get('methodPayment')?.touched)">
                        <div class="container-error-message" *ngIf="form.get('methodPayment')?.hasError('required')">
                            El campo Metodo De pago es requerido
                        </div>
                    </div>
                </div>

                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>total</mat-label>
                        <input matInput placeholder="Ingresar total" type="number" formControlName="total">
                    </mat-form-field>
                    <div class="alert-danger"
                        *ngIf="form.get('total')?.errors && (form.get('total')?.dirty || form.get('total')?.touched)">
                        <div class="container-error-message" *ngIf="form.get('total')?.hasError('required')">
                            El campo total es requerido
                        </div>
                    </div>
                </div>

                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Costo Envio</mat-label>
                        <input matInput placeholder="Ingresar costo Envio" type="text" formControlName="shipping">
                    </mat-form-field>
                    <div class="alert-danger"
                        *ngIf="form.get('shipping')?.errors && (form.get('shipping')?.dirty || form.get('shipping')?.touched)">
                        <div class="container-error-message" *ngIf="form.get('shipping')?.hasError('required')">
                            El campo contraseña es requerida
                        </div>
                    </div>
                </div>

                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Local</mat-label>
                        <mat-select formControlName="localCode">
                            <mat-option *ngFor="let local of locals" [value]="local.id">
                                {{local.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="alert-danger"
                        *ngIf="form.get('cityCode')?.errors && (form.get('cityCode')?.dirty || form.get('cityCode')?.touched)">
                        <div class="container-error-message" *ngIf="form.get('cityCode')?.hasError('required')">
                            El campo local es requerido
                        </div>
                    </div>
                </div>

                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Cliente</mat-label>
                        <mat-select formControlName="customerDocument">
                            <mat-option *ngFor="let user of users" [value]="user.document">
                                {{user.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="alert-danger"
                        *ngIf="form.get('customerDocument')?.errors && (form.get('customerDocument')?.dirty || form.get('customerDocument')?.touched)">
                        <div class="container-error-message" *ngIf="form.get('customerDocument')?.hasError('required')">
                            El campo cliente es requerido
                        </div>
                    </div>
                </div> 
                <div>
                    <div class="buttonsModify">
                        <div class="buttonModify">
                            <button *ngIf="!spinner" type="submit" class="btn" mat-stroked-button color="primary"
                                [disabled]="!form.valid">Modificar</button>
                            <button *ngIf="spinner" class="btn" mat-stroked-button>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="sr-only"> Modificando...</span>
                            </button>
                        </div>
                        <div class="buttonCancel">
                            <button class="btn" type="button" mat-stroked-button
                                (click)=cancelModify()>Cancelar</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </mat-card>
</mat-dialog-content>