<mat-dialog-content class="dialog-content">
    <mat-card class="registerCard">
        <div class="elementsCard">
            <div class="containerRegisterTitle">
                <h1>Registrar producto</h1>
            </div>
            <form [formGroup]="form" class="registerForm" (ngSubmit)="onSubmit()">
                <div class="inputsRegister">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Codigo producto</mat-label>
                            <input matInput placeholder="Ingresar código del producto" type="number" formControlName="code">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('code')?.errors && (form.get('code')?.dirty || form.get('code')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('code')?.hasError('required')">
                                El código del producto es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('code')?.hasError('min')">
                                El campo código del producto debe contener mínimo 1 caracteres
                            </div>
                            <div class="container-error-message" *ngIf="form.get('code')?.hasError('max')">
                                El campo código del producto debe contener máximo 5 caracteres
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Ingresar nombre" type="text" formControlName="name">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('name')?.errors && (form.get('name')?.dirty || form.get('name')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('required')">
                                El campo nombre es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('minlength')">
                                El campo nombre debe contener al menos un caracter
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('maxlength')">
                                El campo nombre debe contener máximo 100 caracteres
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descripción</mat-label>
                            <input matInput placeholder="Ingresar descripción" type="text" formControlName="description">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('description')?.errors && (form.get('description')?.dirty || form.get('description')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('description')?.hasError('required')">
                                El campo descripción es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('description')?.hasError('description')">
                                El campo descripción debe contener al menos un caracter
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Iva</mat-label>
                            <input matInput placeholder="Ingresar IVA del producto" type="number"
                                formControlName="iva">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('iva')?.errors && (form.get('iva')?.dirty || form.get('iva')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('iva')?.hasError('required')">
                                El campo iva es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('iva')?.hasError('min')">
                                El campo iva debe contener mínimo 2 caracteres
                            </div>
                            <div class="container-error-message" *ngIf="form.get('iva')?.hasError('max')">
                                El campo iva debe contener maximo 2 caracteres
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Precio</mat-label>
                            <input matInput placeholder="Ingresar precio" type="text" formControlName="price">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('price')?.errors && (form.get('price')?.dirty || form.get('price')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('price')?.hasError('required')">
                                El campo precio es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('price')?.hasError('minlength')">
                                El campo precio debe contener al menos 2 caracteres
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttonsRegister">
                    <button *ngIf="!spinner" class="btn" mat-stroked-button type="submit"
                        [disabled]="!form.valid">Registrar</button>

                    <button *ngIf="spinner" class="btn" mat-stroked-button>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="sr-only"> Registrando...</span>
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
</mat-dialog-content>