<mat-dialog-content class="dialog-content">
    <mat-card class="registerCard">
        <div class="elementsCard">
            <div class="containerRegisterTitle">
                <h1>Registrar Empleado</h1>
            </div>
            <form [formGroup]="form" class="registerForm" (ngSubmit)="onSubmit()">
                <div class="inputsRegister">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre completo</mat-label>
                            <input matInput placeholder="Ingresar nombre completo" type="text" formControlName="name">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('name')?.errors && (form.get('name')?.dirty || form.get('name')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('required')">
                                El campo nombre es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('minlength')">
                                El campo nombre debe contener al menos un caracter
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('maxlength')">
                                El campo nombre debe contener máximo 100 caracteres
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Número de telefono</mat-label>
                            <input matInput placeholder="Ingresar Número de telefono" type="number"
                                formControlName="phoneNumber">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('phoneNumber')?.errors && (form.get('phoneNumber')?.dirty || form.get('phoneNumber')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('phoneNumber')?.hasError('required')">
                                El campo numero tel es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('phoneNumber')?.hasError('min')">
                                El campo numero tel debe contener mínimo 10 caracteres
                            </div>
                        </div>
                    </div>
    
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Dirección</mat-label>
                            <input matInput placeholder="Ingresar dirección" type="text" formControlName="address">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('address')?.errors && (form.get('address')?.dirty || form.get('address')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('required')">
                                El campo Dirección es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('minlength')">
                                El campo Dirección debe contener al menos un caracter
                            </div>
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('maxlength')">
                                El campo Dirección debe contener máximo 100 caracteres
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Ingresar email" type="email" formControlName="email">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('email')?.errors && (form.get('email')?.dirty || form.get('email')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('email')?.hasError('required')">
                                El campo email es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('email')?.hasError('email')">
                                El campo  debe ser de tipo email (Ej:nombre@gmail.com)
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input matInput placeholder="Ingresar Contraseña" type="password" formControlName="password">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('password')?.errors && (form.get('password')?.dirty || form.get('password')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('password')?.hasError('required')">
                                El campo contraseña es requerida
                            </div>
                            <div class="container-error-message" *ngIf="form.get('password')?.hasError('password')">
                                El campo contraseña debe tener minimo 5 caracteres y maximo 15
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Local</mat-label>
                            <mat-select formControlName="localCode">
                                <mat-option *ngFor="let local of locals" [value]="local.id">
                                    {{local.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('cityCode')?.errors && (form.get('cityCode')?.dirty || form.get('cityCode')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('cityCode')?.hasError('required')">
                                El campo local es requerido
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Rol</mat-label>
                            <mat-select formControlName="roleCode">
                                <mat-option *ngFor="let role of roles" [value]="role.id">
                                    {{role.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('roleCode')?.errors && (form.get('roleCode')?.dirty || form.get('roleCode')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('roleCode')?.hasError('required')">
                                El campo rol es requerido
                            </div>
                        </div>
                    </div>

                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ciudad</mat-label>
                            <mat-select formControlName="cityCode">
                                <mat-option *ngFor="let city of cities" [value]="city.id">
                                    {{city.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('cityCode')?.errors && (form.get('cityCode')?.dirty || form.get('cityCode')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('cityCode')?.hasError('required')">
                                El campo ciudad es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttonsRegister">
                    <button *ngIf="!spinner" class="btn" mat-stroked-button type="submit"
                        [disabled]="!form.valid">Registrar</button>

                    <button *ngIf="spinner" class="btn" mat-stroked-button>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="sr-only"> Registrando...</span>
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
</mat-dialog-content>