<mat-dialog-content class="dialog-content">
    <mat-card class="formCard">
        <div class="elementsformCard">
            <div class="containerRegisterTitle">
                <h1>Editar Local</h1>
            </div>
            <form [formGroup]="form" class="registerForm" (ngSubmit)="onSubmit()">
                <div class="inputsRegister">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Ingresar nombre" type="text" formControlName="name">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('name')?.errors && (form.get('name')?.dirty || form.get('name')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('required')">
                                El campo nombre es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('minlength')">
                                El campo nombre debe contener al menos un caracter
                            </div>
                            <div class="container-error-message" *ngIf="form.get('name')?.hasError('maxlength')">
                                El campo nombre debe contener máximo 100 caracteres
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Direccion</mat-label>
                            <input matInput placeholder="Ingresar direccion" type="text" formControlName="address">
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('address')?.errors && (form.get('address')?.dirty || form.get('address')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('required')">
                                El campo direccion es requerido
                            </div>
                            <div class="container-error-message" *ngIf="form.get('address')?.hasError('maxlength')">
                                El campo nombre debe contener máximo 100 caracteres
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Ciudad</mat-label>
                            <mat-select formControlName="Ciudad_id">
                                <mat-option *ngFor="let city of cities" [value]="city.id">
                                    {{city.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="alert-danger"
                            *ngIf="form.get('Ciudad_id')?.errors && (form.get('Ciudad_id')?.dirty || form.get('Ciudad_id')?.touched)">
                            <div class="container-error-message" *ngIf="form.get('Ciudad_id')?.hasError('required')">
                                El campo ciudad es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                  <div class="buttonsModify">
                    <div class="buttonModify">
                      <button *ngIf="!spinner" type="submit" class="btn" mat-stroked-button color="primary"
                        [disabled]="!form.valid">Modificar</button>
                      <button *ngIf="spinner" class="btn" mat-stroked-button>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only"> Modificando...</span>
                      </button>
                    </div>
                    <div class="buttonCancel">
                      <button class="btn" type="button" mat-stroked-button (click)=cancelModify()>Cancelar</button>
                    </div>
                  </div>
                </div>
    
               <!--  <div class="buttonsRegister">
                    <button *ngIf="!spinner" class="btn" mat-stroked-button type="submit"
                        [disabled]="!form.valid">Modificar</button>

                    <button *ngIf="spinner" class="btn" mat-stroked-button>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="sr-only"> Modificando...</span>
                    </button>
                    <div class="buttonCancel">
                      <button class="btn" type="button" mat-stroked-button (click)=cancelModify()>Cancelar</button>
                    </div>
                </div> -->
            </form>
        </div>
    </mat-card>
</mat-dialog-content>


<!-- <app-customer-table></app-customer-table> -->