<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a [class]="currentPath === paths.reports ? 'currentPath': ''" *ngIf="['1', '2'].includes(currentRole)" mat-list-item (click)="goToPage(paths.reports)"><mat-icon>dashboard</mat-icon>Reportes</a>
      <a [class]="currentPath === paths.employee ? 'currentPath': ''" *ngIf="['1', '2', '5'].includes(currentRole)" mat-list-item (click)="goToPage(paths.employee)"><mat-icon>account_box</mat-icon>Empleados</a>
      <a [class]="currentPath === paths.customer ? 'currentPath': ''" *ngIf="['1', '4'].includes(currentRole)" mat-list-item (click)="goToPage(paths.customer)"><mat-icon>supervisor_account</mat-icon>Clientes</a>
      <a [class]="currentPath === paths.local ? 'currentPath': ''" *ngIf="['1'].includes(currentRole)" mat-list-item (click)="goToPage(paths.local)"><mat-icon>store</mat-icon>Locales</a>
      <a [class]="currentPath === paths.sales ? 'currentPath': ''" *ngIf="['1', '4'].includes(currentRole)" mat-list-item (click)="goToPage(paths.sales)"><mat-icon>shopping_cart</mat-icon>Ventas</a>
      <a [class]="currentPath === paths.product ? 'currentPath': ''" *ngIf="['1', '3', '4'].includes(currentRole)" mat-list-item (click)="goToPage(paths.product)"><mat-icon>list</mat-icon>Productos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar" color="primary">
      <div class="navbarLeft">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span (click)="goToPage(paths.sales)">HR Taller y Metalisteria</span>
      </div>
      <div class="navbarRight">
        <button mat-button [matMenuTriggerFor]="user">
          <mat-icon>account_circle</mat-icon> {{userName}}
        </button>
        <mat-menu #user="matMenu">
          <button mat-menu-item (click)="showUpdateData()">
            <mat-icon>face</mat-icon> Perfil
          </button>
          <button mat-menu-item (click)="onLogout()" [routerLink]="['/sign-in']">
            <mat-icon>exit_to_app</mat-icon> Cerrar sesión
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>