.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #f5f5f5e6;
  box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.5);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav a mat-icon{
  margin-right: 10px;
}

.sidenav .currentPath{
  background-color: #3f51b5;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbarLeft{
  cursor: pointer;
}

.navbarRight button{
  font-size: 18px;
}