<div class="container">
    <div>
        <button type="button" color="primary" class="btn btn-info space-button" (click)="openDialogFrom()">Registrar Venta</button>
    </div> 
    <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8  col-md-10 m-auto">
        <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod. Venta </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- iva Column -->
        <ng-container matColumnDef="iva">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Iva </th>
            <td mat-cell *matCellDef="let row"> {{row.iva}}% </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>

        <!-- methodPayment Column -->
        <ng-container matColumnDef="methodPayment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modo Pago </th>
            <td mat-cell *matCellDef="let row"> {{row.methodPayment}} </td>
        </ng-container>
    
        <!-- Total Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
            <td mat-cell *matCellDef="let row"> {{row.total}} </td>
        </ng-container>

        <!-- shipping Column -->
        <ng-container matColumnDef="shipping">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Envio </th>
            <td mat-cell *matCellDef="let row" class="text-center"> {{row.shipping}} </td>
        </ng-container>

        <!-- customerDocument Cliente Column -->
        <ng-container matColumnDef="customerDocument">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Cedula Cliente </th>
            <td mat-cell *matCellDef="let row" class="text-center"> {{row.customerDocument}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element" class ="mat-actions">
                <button mat-mini-fab (click)="onDeleteAale(element)" color="warn" aria-label="Example icon button with a delete icon">
                    <mat-icon >delete</mat-icon>
                </button>
                <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                (click)="onEditSale(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>